DB_NAME=clinic_appointment_system
DB_USER=root
DB_PASSWORD=
DB_HOST=127.0.0.1
DB_PORT=3306
FRONTEND_RESET_PASSWORD_URL=http://localhost:5173/reset-password
AUTH_REFRESH_COOKIE_NAME=refresh_token
AUTH_REFRESH_COOKIE_HTTP_ONLY=True
AUTH_REFRESH_COOKIE_SECURE=False
AUTH_REFRESH_COOKIE_SAMESITE=Lax
AUTH_REFRESH_COOKIE_PATH=/api/accounts/
AUTH_REFRESH_COOKIE_MAX_AGE=604800