# Database configuration
DB_NAME=clinic_appointment_system
DB_USER=root
DB_PASSWORD=
DB_HOST=127.0.0.1
DB_PORT=3306

# Frontend URL for password reset
FRONTEND_RESET_PASSWORD_URL=http://localhost:5173/reset-password
FRONTEND_VERIFY_EMAIL_URL=http://localhost:5173/verify-email

# Authentication settings
AUTH_REFRESH_COOKIE_NAME=refresh_token
AUTH_REFRESH_COOKIE_HTTP_ONLY=True
AUTH_REFRESH_COOKIE_SECURE=False
AUTH_REFRESH_COOKIE_SAMESITE=Lax
AUTH_REFRESH_COOKIE_PATH=/api/accounts/
AUTH_REFRESH_COOKIE_MAX_AGE=604800

# Email configuration
EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=your-email@gmail.com
EMAIL_HOST_PASSWORD=your-app-password
DEFAULT_FROM_EMAIL=Clinic App < >

